In [11]:
import pandas as pd
from pathlib import Path
import numpy as np

# Define path for saving
data_path = Path("data")
data_path.mkdir(exist_ok=True)

# Parameters
num_levels = 50
base_xp = 100

# Create DataFrame
levels = list(range(1, num_levels + 1))
base_xp = 100
growth_rate = 1.02  # 2% harder each level
xp_for_level = []

for level in levels:
    xp = base_xp * (growth_rate ** (level - 1))
    if level % 10 == 0:  # every 10th level, increase XP requirement
        xp *= 1.5
    xp_for_level.append(int(xp))

xp_total = np.cumsum(xp_for_level)


level_framework_df = pd.DataFrame({
    "level": levels,
    "xp_for_level": xp_for_level,
    "xp_total": xp_total
})

# Save to CSV
output_file = data_path / "level_framework_df.csv"
level_framework_df.to_csv(output_file, index=False)

print(f"✅ Saved level framework to {output_file}")
level_framework_df.head(10)

✅ Saved level framework to data/level_framework_df.csv

   level  xp_for_level  xp_total
0      1           100       100
1      2           102       202
2      3           104       306
3      4           106       412
4      5           108       520
5      6           110       630
6      7           112       742
7      8           114       856
8      9           117       973
9     10           179      1152